!!! 5
%html
%head
  %title Instagramm
  %link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", :integrity => "sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh", :rel => "stylesheet"}/
  = stylesheet_link_tag 'application'
  = javascript_pack_tag 'application'
  = csrf_meta_tags
  = csp_meta_tag

%body  
  %nav.navbar.navbar-inverse
    .container
      .navbar-brand= link_to "Instagramm", root_path
      
      - if user_signed_in?
        %ul.nav.navbar-nav.navbar-left
          %li= link_to "Gram It!", new_pic_path
          %li= link_to "Settings", edit_user_registration_path
          %li= link_to "Sign Out", destroy_user_session_path, method: :delete

      - else
        %ul.nav.navbar-nav.navbar-left
          %li= link_to "Join", new_user_registration_path
          %li= link_to "Log In", new_user_session_path
  
  .container
    -flash.each do|name, msg|
      =content_tag :div, msg, class: "alert alert-info"

    = yield  

